<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.user.UserMapper">
	<insert id="insert">
		insert into User
		(
			id,
			name,
			pwd
		)
		values
		(
			#{id},
			#{name},
			#{pwd}
		)
	</insert>
	<update id="update">
		update user
		<set>
			<if test="name != null">
				name = #{name},
      		</if>
      		<if test="pwd != null">
				pwd = #{pwd},
      		</if>
		</set>
		where
			id = #{id}
	</update>
	<delete id="delete">
		delete from user where id = #{id}
	</delete>
	<select id="getById" resultType="user">
		select
			u.id,
			u.name,
			u.pwd,
			ue.id "userExt.id",
			ue.account_no "userExt.accountNo",
			ue.birth_date "userExt.birthDate"
		from
			user u
		left join
			user_ext ue
		on
			u.id = ue.uid
		where
			u.id = #{id}
	</select>
	<select id="list" resultType="user">
		select
			*
		from
			user
		<include refid="userWhere" />
	</select>
	<select id="count" resultType="Integer">
		select
			count(id)
		from
			user
		<include refid="userWhere" />
	</select>
	<sql id="userWhere">
		<where>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="pwd != null and pwd != ''">
				and pwd = #{pwd}
			</if>			
		</where>
		<if test="sort != null and sort != ''">
			order by ${sort}
		</if>
		<if test="offset != null and size != null">
			limit #{offset}, #{size}
		</if>
	</sql>
</mapper>